src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <sub-flow name="set-bookId" doc:id="2ab5c9ff-21a8-4eac-9166-580fb041f701" >
    <set-variable value="#[message.attributes.uriParams.'id']" doc:name="Set bookId" doc:id="e3aa01e9-c490-4428-bbab-b62adde0cc42" variableName="bookId" />
  </sub-flow>
  <flow name="get-book" doc:id="0efec871-f0bc-4454-aeab-be4f1c62ded4" >
    <logger level="DEBUG" doc:name="Log Start" doc:id="c650f526-111b-48fa-986a-0a7c8a60e7c5" message='#[%dw 2.0
output application/json
---
{
  environment: "${env}",
  service: app.name,
  correlationId: correlationId,
  errorId: error.description,
  errorType: error.errorType,
  message: message
}]' category="start"/>
    <flow-ref doc:name="set-bookId" doc:id="f5fea1bd-4a4e-4d5a-974c-0cc701a8e80c" name="set-bookId"/>
    <ee:transform doc:name="JSON Message" doc:id="986ef76b-f605-4a99-8ce1-e36c3b4a6410" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: "SbBGk",
  title: "Stiff: The Curious Lives of Human Cadavers",
  description: "Stiff: The Curious Lives of Human Cadavers",
  datetime: "2020-04-03",
  genre: "science",
  author: "Mary Roach",
  link: "http://e-bookmobile.com/books/Stiff"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="DEBUG" doc:name="Log End" doc:id="c1d8247d-8bc4-4538-917c-565f11f30ebf" message='#[%dw 2.0
output application/json
---
{
  environment: "${env}",
  service: app.name,
  correlationId: correlationId,
  errorId: error.description,
  errorType: error.errorType,
  message: message
}]' category="end"/>
  </flow>
  <flow name="post-book" doc:id="37a8ba97-1cf0-4e38-9c8d-494b02f24c93" >
    <ee:transform doc:name="Transform Message" doc:id="f2de9c13-708f-4917-9c35-b3f097fe4326" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Book added (but not really)"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="put-book" doc:id="6136e00d-e5bb-455b-b9bd-7bb78a49ccfb" >
    <flow-ref doc:name="set-bookId" doc:id="bac3e1f2-b939-48ab-a92d-e7c7d8261204" name="set-bookId" />
    <ee:transform doc:name="JSON Message" doc:id="32f0b50e-2ddc-4cfe-b4d2-4001ff96016d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Book updated (but not really)"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="patch-book" doc:id="712c1025-db12-44a1-85cb-b7c33af8f714" >
    <flow-ref doc:name="set-bookId" doc:id="35cd2e19-2b0f-4f95-b86a-2b80a026b979" name="set-bookId" />
    <ee:transform doc:name="JSON Message" doc:id="ec6178e5-b318-4894-9842-5df9be6475e3" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Book partially updated (but not really)"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="delete-book" doc:id="0f503002-54ab-4710-8726-22c611ed74c9" >
    <flow-ref doc:name="set-bookId" doc:id="b0e74f43-1205-4a76-b90c-6a6e3b1fa6a0" name="set-bookId" />
    <ee:transform doc:name="JSON Message" doc:id="77b39ce9-5a5c-4c67-9735-edf29ac17d95" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Book removed (but not really)"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
